body {
    background-image: url("Images/newback.jfif");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}
.cadet-blue{
    padding-top: 10px;
    padding-bottom: 10px;
 color: white;
 font-size: 18px;;
}
.upload-picture {
    grid-area: picture;
  }
  .label-a{
    grid-area: name;
  }
  .label-b{
    grid-area: address;
  }
  .label-c{
    grid-area: email;
  }
  .label-d{
    grid-area: hobbies;
  }
  .label-e{
    grid-area: skills;
  }
.save{
    grid-area: save;
}
.save input{
    padding: 10px;
}
.upload input{
    padding: 10px;
}
.upload-picture img{
    width: 100px;
    padding: 20px;
}
.upload{
    grid-area: upload;
}
  .user-details {
    display: grid;
    grid-template-columns: 200px 75px 75px;
    grid-template-rows: auto;
    grid-template-areas: 
      "picture name input1"
      "picture address input2"
      "picture email input2"
      "picture hobbies input2"
      "picture skills input2"
      "upload save save";
      background-color: cadetblue;
      box-shadow: 10px 10px 8px teal;
      width: 600px;
      margin-top: 100px;
      padding: 40px;
      margin-left:600px;
    }
  
.profile-form {
    text-align: center;

}   
.profile-form section {
    width: 300px;
    margin-top: 100px;
    padding: 40px;
    display: inline-block;
    background-color: cadetblue;
    box-shadow: 10px 10px 8px teal;
}
.profile-form form {
    display:inline;
    color: white;
    font-size: 20px;
}
.upload-picture form {
    width: 300px;
    margin-top: 100px;
    padding: 40px;
    display: inline-block;
    background-color: cadetblue;
    box-shadow: 10px 10px 8px teal;
}
.topbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid chocolate;
    background-color: cadetblue;
}    
.topbar a {
    text-decoration: none;
    display: inline-block;
    background-color: cadetblue;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.topbar a:hover {
    background-color: white;
    color: black;
}
html, body {
    margin: 0px;
    padding:0px;
}    
.profile-form form label {
    width: 150px;
    display: inline-block;
} 
.main-footer-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    background-color: cadetblue;
}
.main-footer-links li{
    padding-left: 10px;
}
.main-footer-links li a{
    text-decoration: none;
    color: rgb(75, 67, 67);
}

footer {
    background-color: cadetblue;
    padding: 2px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

